.navbar {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid #dbdbdb;
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 1;
    margin-left: 1rem;
}

.logo h2 {
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 10px;
    max-width: fit-content;
}

.logo h2:hover {
    background-color: white;
}

.filter{
    margin-right: 1rem;
}

