.Dropdown-control {
    background-color: white !important;
    color: black !important;
    border-radius: 10px !important;
    border: none !important;
}

.Dropdown-menu {
    border-radius: 10px;
    border: none !important;
    margin-top: .2rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.Dropdown-option {
    color: black !important;
}